/* Color Scheme */
$color-white: #fafafa;
$color-background: #9267FD;
$color-red: #FF444F;
$color-blue: #0095ac;
$color-grey-dark: #767676;
$color-grey-light: #dadada;
$color-black: #000000;
$color-green: #15B99B;


/* font sizes */
$font-size-tiny: 1rem;
$font-size-small: 1.6rem;
$font-size-default: 1.8rem;
$font-size-big: 2.4rem;
$font-size-large: 3.6rem;
$font-size-huge: 4.8rem;
$font-size-extra-huge: 5.6rem;

/* transition */
$page-transition-time: .5s;

/* Heading padding */
$heading-padding: 2rem;